<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="tw-container">
  <div class="container">
    <div class="field form-group">
      <%= f.label :tag, "URL hoge" %><br>
      <%= f.text_field :tag, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
      <%= f.submit :class => "btn btn-primary", :value => "投稿する" %>
  </div>
</div>

<% end %>
