<% content_for(:header) do %>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>
<p id="notice"><%= notice %></p>

<% @tweets.each do |tweet| %>
<div class="tw-container">
  <ul class="tw-info">
    <li class="post-date"><%= distance_of_time_in_words_to_now(tweet.tweeted_at) %>前 (<%= tweet.tweeted_at %>)</li>
  </ul>
  <img src="<%= tweet.image_urls.split(',').first %>":>
  <%= render partial: 'embed', locals: { tweet: tweet } %>
  <div class="detail-link"><%= link_to ' 詳しく >>', tweet %></div>
  <ul class="tw-info">
    <li class="name"><%= tweet.user_name %></li>
    <li class="id">
      <a href="https://twitter.com/<%= tweet.screen_name %>">@<%= tweet.screen_name %></a>
    </li>
  </ul>
</div>
<% end %>

<%= paginate @tweets %>

<%= link_to '投稿する', new_tweet_path, :class => 'float-post' %>
