<div class="tw-container">
  <ul class="tw-info">
    <li class="post-date"><%= distance_of_time_in_words_to_now(tweet.tweeted_at) %>前</li>
  </ul>

  <%= render partial: 'tags/tag', locals: { tweet: tweet } %>
  <%= render partial: 'shared/tweet_img', locals: { tweet: tweet, first_only: true } %>

  <%= render partial: 'shared/embed', locals: { tweet: tweet } %>

  <div class="detail-link"><%= link_to ' 詳しく >>', tweet %></div>
  <ul class="tw-info">
    <li class="name"><%= tweet.user_name %></li>
    <li class="id">
      <%= link_to '@'+tweet.screen_name, user_tweets_path(tweet.screen_name) %>
    </li>
  </ul>
</div>
