<!DOCTYPE html>
<html>
<head>
  <title>Bookomi</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body>

<header><%= link_to 'Bookomi', root_path %></header>

<%= yield %>

<%= yield :modal %>
<footer id="footer" class="mh_footer">
  <strong>© Boocomi, Inc.</strong>
</footer>

</body>
</html>
